@import url('../../../../App.css');

.order__form{
    display: block;
    width: 100%;
    padding-bottom: 100px;
    border-bottom: 4px solid var(--primary-color);
}
.form__order{
    width: 100%;
}
.form__order-heading{
    margin-bottom: 30px;
}
.order__form div{
    width: 100%;
    margin: 15px 0;
    text-align: center;
}
.form__order-input{
    width: 60%;
    padding: 10px 14px;
    font-size: 1.4rem;
    border-radius: 5px;
    border: 1px solid #ccc;
   
}
.form__order-textarea{
    width: 60%;
    margin: 0 0;
    padding: 5px 14px;
    font-size: 1.4rem;
    height: 100px;
}
.form__order-submit{
    padding: 10px 12px;
    font-size: 1.5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 4px;
}
.form__order-submit:hover{
    cursor: pointer;
    background-color: rgb(233, 102, 102);
}