@import url('../../../../App.css');
.loading{
    width: 100%;
    text-align: center;
    background-color: var(--white-color);
    height: 100%;
    padding-bottom: 200px;
    border-bottom: 4px solid var(--primary-color)
}
.loading-icon {
    align-items: center;
    font-size: 10rem;
    color: var(--primary-color);
    margin-top: 20%;
   
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }